.foodDetailinfo ,.price {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Q-text{
     display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
}
.fooddetail-text{
    width: 50%;
     display: block;
     margin: auto;
}
.fooddetail-img{
width: 100%;
 display: block;
    margin: auto;
}
.detail-img{
 width: 100px;
}