.blog-head{
    width: 45%;
    margin-top:50px ;
}

.blog-cards{
      margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
     grid-gap: 20px;
}

.blog-img{
 width: 100%;
 display: block;
 margin: auto;
}

.blog-text{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.blog-text img{
  margin-right: 15px;
}

.blog-text a{
    text-decoration: none;
}

@media only screen and (max-width:576px){
    .blog-cards{
    grid-template-columns: repeat(1,1fr);
}
}

@media only screen and (min-width: 577px) and (max-width:992px){
    .blog-cards{
    grid-template-columns: repeat(2,1fr);
}
}