.signup{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
.signup-btn{
      display: block;
    margin: auto;
    margin-top: 20px;
    background-color:  rgb(243, 31, 66);
    color: white;
    border: 0;
    outline: 0;
    padding:  10px;
    border-radius: 10px ;
    width: 50%;
}
